/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* Realtime Colors */
  --text: #eaeaf0;
  --background: hsl(240, 29%, 3%);
  --primary: hsl(239, 39%, 71%);
  --secondary: hsl(238, 50%, 31%);
  --accent: hsl(239, 60%, 58%);
  
  /* Shades from colors */
  --background-2: hsl(240, 19%, 6%);
  --background-15: hsla(239, 39%, 71%, 0.05);
  --background-3: hsl(236, 18%, 16%);
  --primary30: hsla(239, 39%, 71%, 0.3);
  --secondary30: hsla(238, 50%, 31%, 0.30);

  /* Effects from colors and shades*/
  --linearPrimarySecondary: linear-gradient(#9798d1, #272975);
  --linearPrimaryAccent: linear-gradient(#9798d1, #5557d5);
  --linearSecondaryAccent: linear-gradient(#272975, #5557d5);
  --wtf-gradient: linear-gradient(var(--text), var(--primary));
  --a-wtf-gradient: linear-gradient(var(--primary), var(--text));
  --linearBackgroundPrimary-45-90: linear-gradient(.45turn, var(--background), 90%, var(--primary));  
  --linearBackground2Primary30-45-80: linear-gradient(.45turn, var(--background-2), 80%, var(--primary));
  --radialBackground2Primary30 : radial-gradient(circle at center,var(--background-2), var(--primary30));
  --radialPrimarySecondary: radial-gradient(#9798d1, #272975);
  --radialPrimaryAccent: radial-gradient(#9798d1, #5557d5);
  --radialSecondaryAccent: radial-gradient(#272975, #5557d5);

  --text-800: #140c5a;
  --text-900: #0a062d;
  --text-950: #050316;

  --text-800: #140c5a;
  --text-900: #0a062d;
  --text-950: #050316;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--text);

  --section-gap: 160px;
}

:root {
  font-size: clamp(calc(0.9rem + .3vw), 1rem, 1.3rem);

  --font-family : 'Poppins',
  Inter,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Cantarell,
  'Fira Sans',
  'Droid Sans',
  'Helvetica Neue',
  Ubuntu,
  sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background);
    /* --color-background: var(--vt-c-black); */
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--text);
    /* --color-text: var(--vt-c-text-dark-2); */
    overscroll-behavior: none;
  }

}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  /* min-height: 10vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
