@import './base.css';

.form-container {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 90%;
}

fieldset {
    margin-bottom: 1rem; /* Add spacing between fieldsets */
    border : 0;
    border-radius: 15px;
    background-color: var(--background-2);
}

legend {
    display: flex;
    /* margin-bottom: 10px; Add spacing between legend and content */
    font-weight: bold;
    align-items: center;
}

legend span {
    margin-left: 1rem;
}

/* FlowSelect doesn't need the bigger screen rule but work have the same display
    as any input in any section-inputs, so I just add it here for the moment */
.section-inputs, .flow-section-input {
    display : flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto .5em;
}

div.button-row {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em auto;  
}

/* Correcting a bug from vuejs-datepicker */
.datepicker {
    width: fit-content;
}

textarea {
    min-width:100%;
    padding: 2em;
    font-family: var(--font-family);
    border-radius: 5px;
    height: auto;
}

form .button {
    margin-left: auto;
    margin-right: auto;
}

form .button[type="submit"] {
    margin-top: 1.5rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 90%;
    }
    div.button-row {
        flex-direction: row;
    }

}
@media screen and (min-width: 720px) {
    .section-inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
    
    form {
        min-width: 50%;
    }
}