@import './base.css';

#app {
  max-width: 1280px;
  min-width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
  font-weight: normal;
  place-items: center;
}

main {
  flex: 1 1 0;
}

strong {
  font-weight: 700;
  letter-spacing: .02rem;
}

.bg-2 {
  background-color: var(--background-2);
}

.material-symbols-outlined {
  cursor: pointer;
}

h1, h2, h3 {
  font-family: "Gilda Display", serif;
  font-weight: 700;
  text-align: center;
  margin: 2em 0;
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: .2em;
}

.error {
  color: #ff3333;
  font-weight: bold;
}

.success {
  color: hsla(160, 100%, 37%, 1);
  font-weight: bold;
}


legend {
  font-size: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

.form-button {
  display: flex;
  justify-content: space-evenly;

}

button {
  padding-block: 0;
  padding-inline: 0;
  padding: 0;
}

.button {
  font-family: var(--font-family); 
  color: var(--background);
  width: fit-content;
  min-width: 120px;
  padding: 1em 2em;
  border-radius : 5px;
  background: var(--primary);
  margin : auto;
  margin-bottom: 1%;
  font-weight: 500;
}

.button:hover {
  scale: 1.1;
}

.primary {
  color: var(--background);
  background: var(--primary)
}

.secondary {
  color: var(--text);
  background: var(--secondary);
}

.svg {
  color: var(--background);
  background: var(--primary);
  padding: 2%;
  border-radius: 50%;
}

.svg:hover {
  color: var(--text);
  background: var(--accent);
}

.icon-clear-gradient {
  padding: 2%;
  border-radius: 50%;
  color: var(--text);
  background: var(--linearBackground2Primary30-45-80);
  box-shadow: 1px 1px var(--primary);
}
.icon-clear-gradient:hover {
  background: var(--radialBackground2Primary30);
  box-shadow: 1px 1px var(--primary);
}

input, select, textarea {
  max-width: 300px;
  border-radius: 5px;
  height: 2rem;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Inputs take all their space in little resolution because they are in columns,
  they are are little more narrow when in rows. */
@media screen and (max-width: 1024px) {
  input, select {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  input, select {
    width: 70%;
  }

  #app {
    padding: 0 2rem;
  }
}