@import './base.css';

#app {
  max-width: 1280px;
  min-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  place-items: center;
}

.material-symbols-outlined {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin: 5% 0;
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.error {
  color: #ff3333;
  font-weight: bold;
}

.success {
  color: hsla(160, 100%, 37%, 1);
  font-weight: bold;
}

fieldset {
  border : 0;
  margin: 5% 0;
}

legend {
  font-size: 1.5rem;
}

.form-button {
  display: flex;
  justify-content: space-evenly;

}

button {
  font-family:
    'Poppins',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Ubuntu,
    sans-serif;
  color: var(--background);
  width: fit-content;
  padding: 2%;
  border-radius : 5px;
  background: var(--primary);
  margin : auto;
  margin-bottom: 1%;
  font-weight: 500;
}

.primary {
  color: var(--background);
  background: var(--primary)
}

.secondary {
  color: var(--text);
  background: var(--secondary);
}

button:hover {
  scale: 1.1;
}

.svg {
  color: var(--background);
  background: var(--primary);
  padding: 2%;
  border-radius: 50%;
}

.svg:hover {
  color: var(--text);
  background: var(--accent);
}

input, select, textarea {
  width: 100%;
  max-width: 300px;
}

select {
  border-radius: 5px;
  height: 2rem;
}

.modal {
  background: var(--background)
}

.modalContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modalInput {
    width: 60%;
    height: 160%;
    margin: 3% auto;
    padding: 2%;
    border-radius: 5px;
}

.modalInput:focus {
  border-color: #70CFFF;
    border-color: hsla(160, 100%, 37%, 1);
}

.modalButton {
    margin: 0 auto;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}