    /* taking apexcharts palettes to match the charts */
    .task0 {
        background-color: #008FFB;
    }
    .task1 {
        background-color: #00E396;
    }
    .task2 {
        background-color: #FEB019;
    }
    .task3 {
        background-color: #FF4560;
    }
    .task4 {
        background-color: #775DD0;
    }
    .task5 {
        background-color: #3f51b5;
    }
    .task6 {
        background-color : #03a9f4;
    }
    .task7 {
        background-color : #4caf50;
    }
    .task8 {
        background-color : #f9ce1d;
    }
    .task9 {
        background-color : #FF9800;
    }
    .task10 {
        background-color: #33b2df;
    }
    .task11 {
        background-color: #546E7A;
    }
    .task12 {
        background-color: #d4526e;
    }
    .task13 {
        background-color: #13d8aa;
    }